tests/Domotik/openHAB-link.json
[{"id":"13265601.8509aa","type":"inject","z":"9eabedbe.9b8a6","name":"","topic":"","payload":"T_PISCINE","payloadType":"global","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["198a862d.db51da"]]},{"id":"198a862d.db51da","type":"http request","z":"9eabedbe.9b8a6","name":"push AI2 to openhab","method":"PUT","ret":"txt","url":"localhost:8080/rest/items/Pool_Temp/state","tls":"","x":400,"y":80,"wires":[[]]},{"id":"af83f48a.bb5868","type":"comment","z":"9eabedbe.9b8a6","name":"push values to openhab \"ON CHANGE\"","info":"","x":210,"y":40,"wires":[]},{"id":"26df5709.b2b1f8","type":"comment","z":"9eabedbe.9b8a6","name":"get values from openhab","info":"","x":170,"y":160,"wires":[]},{"id":"d85b7916.33be88","type":"http in","z":"9eabedbe.9b8a6","name":"","url":"/wemo/perron/","method":"put","swaggerDoc":"","x":150,"y":200,"wires":[["dd68f57c.5e24b8"]]},{"id":"dd68f57c.5e24b8","type":"function","z":"9eabedbe.9b8a6","name":"","func":"var newmsg;\n\nif (msg.payload == \"ON\") {\n    newmsg = 1;\n} else if (msg.payload == \"OFF\") {\n    newmsg = 0;\n}\n\nmsg.payload = newmsg;\nmsg.statusCode = 200;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["78f11c6d.4cd9c4"]]},{"id":"78f11c6d.4cd9c4","type":"debug","z":"9eabedbe.9b8a6","name":"","active":true,"console":"false","complete":"false","x":530,"y":200,"wires":[]},{"id":"5d70390.c9450c8","type":"inject","z":"9eabedbe.9b8a6","name":"","topic":"","payload":"876","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":320,"wires":[["6650c284.b2c5cc","812065a7.4577e8"]]},{"id":"c82b6eab.636e8","type":"debug","z":"9eabedbe.9b8a6","name":"","active":true,"console":"false","complete":"false","x":530,"y":320,"wires":[]},{"id":"6650c284.b2c5cc","type":"scalerange","z":"9eabedbe.9b8a6","name":"10K_temp_DegC","volts":"[4.7999,4.7358,4.6557,4.5571,4.4378,4.2961,4.1312,3.9433,3.7339,3.5058,3.2631,3.0108,2.7546,2.5000,2.2523,2.0156,1.7936,1.5884,1.4011,1.2324,1.0815,0.9478,0.8299,0.7265,0.6362,0.5575,0.4890,0.4296,0.3776,0.3328]","values":"[-40.0,-35.0,-30.0,-25.0,-20.0,-15.0,-10.0,-5.0,0.0,5.0,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,50.0,55.0,60.0,65.0,70.0,75.0,80.0,85.0,90.0,95.0,100.0,105.0]","x":330,"y":320,"wires":[["c82b6eab.636e8"]]},{"id":"812065a7.4577e8","type":"function","z":"9eabedbe.9b8a6","name":"10K temp DegC","func":"\nvar _advalue = msg.payload;\nvar _voltvalue = [4.7999,4.7358,4.6557,4.5571,4.4378,4.2961,4.1312,3.9433,3.7339,3.5058,3.2631,3.0108,2.7546,2.5000,2.2523,2.0156,1.7936,1.5884,1.4011,1.2324,1.0815,0.9478,0.8299,0.7265,0.6362,0.5575,0.4890,0.4296,0.3776,0.3328];\n//var _voltvalue = [5.0,0.0];\nvar _calcvalue = [-40.0,-35.0,-30.0,-25.0,-20.0,-15.0,-10.0,-5.0,0.0,5.0,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,50.0,55.0,60.0,65.0,70.0,75.0,80.0,85.0,90.0,95.0,100.0,105.0];\n//var _calcvalue = [100.0,0.0];\nvar _tempCalc = 0.0;\nvar _diffvolt = 0.0;\nvar _diffcalc = 0.0;\nvar _newvalue = 0.0;\nvar _lastvalue = 0.0;\nvar volt = _advalue * (5.0 / 1023.0);\n\nfor (x = 0; x < _voltvalue.length; x++) {\n\tif ((volt >= _voltvalue[x+1]) & (volt <= _voltvalue[x])) {\n        _diffvolt = _voltvalue[x] - _voltvalue[x+1];\n        _diffcalc = _calcvalue[x+1] - _calcvalue[x];\n        _tempCalc = _calcvalue[x+1] - ((volt - _voltvalue[x+1]) * (_diffcalc/_diffvolt));\n\t} else {\n        if (volt <= _voltvalue[_voltvalue.length - 1]) {\n            _tempCalc = _calcvalue[_voltvalue.length - 1]; \n        } else if (volt >= _voltvalue[0]) {\n            _tempCalc = _calcvalue[0];\n\t    }\t\t\n    }\n}\n\nmsg.payload = _tempCalc;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["c82b6eab.636e8"]]},{"id":"b4d0323b.34037","type":"readIP","z":"9eabedbe.9b8a6","name":"CP1","address":"0x12","number":"1","scan":"5","x":110,"y":480,"wires":[["bdeb42b7.82f86"],[],[],[],[],[],[],[]]},{"id":"bdeb42b7.82f86","type":"debug","z":"9eabedbe.9b8a6","name":"","active":true,"console":"false","complete":"false","x":410,"y":440,"wires":[]},{"id":"7ee14df0.f21634","type":"writeOP","z":"9eabedbe.9b8a6","name":"Pompe_Piscine","address":"0x12","number":"1","output":"1","x":340,"y":620,"wires":[["3f7f8688.b8b33a"]]},{"id":"4a02ea73.27f784","type":"inject","z":"9eabedbe.9b8a6","name":"zero","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":620,"wires":[["7ee14df0.f21634"]]},{"id":"3f7f8688.b8b33a","type":"debug","z":"9eabedbe.9b8a6","name":"","active":true,"console":"false","complete":"payload","x":590,"y":620,"wires":[]}]
