tests/Domotik/wemo.json
[{"id":"43292971.fdced","type":"function","z":"7b67dd73.d862f4","name":"msg headers - GetState","func":"\nvar xmlmsg = '<?xml version=\"1.0\" encoding=\"utf-8\"?>' +\n             '<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" s:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">' +            \n             ' <s:Body>' +\n             '    <u:GetBinaryState xmlns:u=\"urn:Belkin:service:basicevent:1\"></u:GetBinaryState>' +\n             '  </s:Body>' +\n             '</s:Envelope>';\n\nmsg.payload = xmlmsg;\n\nvar len = msg.payload.length;\n\nmsg.url = \"http://192.168.0.103:49153/upnp/control/basicevent1\";\n\nmsg.headers = {'Content-Type': 'text/xml; charset=utf-8', \"Content-length\": len, \"SOAPAction\": '\"urn:Belkin:service:basicevent:1#GetBinaryState\"', 'Accept': '' };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["394d6020.72221"]]},{"id":"cccafb5c.18df68","type":"inject","z":"7b67dd73.d862f4","name":"Perron_GetState","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":300,"wires":[["43292971.fdced"]]},{"id":"394d6020.72221","type":"http request","z":"7b67dd73.d862f4","name":"HTTP POST","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":300,"wires":[["e2c2dec7.2c6fc8"]]},{"id":"4af3611f.5b3438","type":"debug","z":"7b67dd73.d862f4","name":"","active":true,"console":"false","complete":"payload","x":1050,"y":300,"wires":[]},{"id":"e2c2dec7.2c6fc8","type":"function","z":"7b67dd73.d862f4","name":"GetBinaryState","func":"\nvar a = msg.payload.match(\"<BinaryState>(.*)</BinaryState>\");\n\nmsg.payload =  parseInt(a[1]);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["4af3611f.5b3438"]]},{"id":"49b8e65c.3043b8","type":"inject","z":"7b67dd73.d862f4","name":"wemo Search","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["f32b93f0.861d98"]]},{"id":"f32b93f0.861d98","type":"function","z":"7b67dd73.d862f4","name":"wemo send Broadcast","func":"\nvar SSDP_IP = \"239.255.255.250\";\nvar SSDP_PORT = 1900;\nvar SSDP_SEARCH_PORT = 1901;\n\nvar discoveryMessage = \"M-SEARCH * HTTP/1.1\\r\\n\" +\n    \"HOST: \" + SSDP_IP + \":\" + SSDP_PORT + \"\\r\\n\" +\n   \"ST: urn:Belkin:device:\\r\\n\" +\n   \"MAN: \\\"ssdp:discover\\\"\\r\\n\" +\n   \"MX: 5\\r\\n\" +\n   \"\\r\\n\";\n\nmsg.ip = \"239.255.255.250\";\nmsg.port = 1900;\nmsg.payload = new Buffer(discoveryMessage);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["d7503365.8691a8"]]},{"id":"d7503365.8691a8","type":"udp out","z":"7b67dd73.d862f4","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"1901","base64":false,"multicast":"broad","x":570,"y":120,"wires":[]},{"id":"fbdc3ce1.f9268","type":"udp in","z":"7b67dd73.d862f4","name":"wemo receive broadcast","iface":"","port":"1901","ipv":"udp4","multicast":"false","group":"239.255.255.250","datatype":"utf8","x":170,"y":160,"wires":[["2eb35cbc.749d54"]]},{"id":"756d37e1.991f28","type":"debug","z":"7b67dd73.d862f4","name":"","active":true,"console":"false","complete":"false","x":670,"y":160,"wires":[]},{"id":"38b4e268.bdcdde","type":"comment","z":"7b67dd73.d862f4","name":"wemo broadcast search","info":"","x":140,"y":80,"wires":[]},{"id":"2eb35cbc.749d54","type":"function","z":"7b67dd73.d862f4","name":"wemo decode IP:port","func":"\nvar ip_port = msg.payload.match(\"LOCATION: (.*)/setup.xml\");\n\nmsg.payload = ip_port;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["756d37e1.991f28"]]},{"id":"426525f3.071734","type":"comment","z":"7b67dd73.d862f4","name":"wemo_1: Perron Ext 192.168.0.103","info":"","x":180,"y":260,"wires":[]},{"id":"78363812.cb9058","type":"comment","z":"7b67dd73.d862f4","name":"wemo_2: Lampe Salon 192.168.0.107","info":"","x":190,"y":480,"wires":[]},{"id":"a064d18b.be05e8","type":"function","z":"7b67dd73.d862f4","name":"msg headers - 192.168.0.107","func":"\nvar len = msg.payload.length;\n\nmsg.url = \"http://192.168.0.107:49153/upnp/control/basicevent1\";\n\nmsg.headers = {'Content-Type': 'text/xml; charset=utf-8', \"Content-length\": len, \"SOAPAction\": '\"urn:Belkin:service:basicevent:1#GetBinaryState\"', 'Accept': '' };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["6b03528e.f375cc"]]},{"id":"b3411cc1.57f468","type":"inject","z":"7b67dd73.d862f4","name":"wemo xml","topic":"","payload":"<?xml version=\"1.0\" encoding=\"utf-8\"?>              <s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" s:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\">                           <s:Body>                  <u:GetBinaryState xmlns:u=\"urn:Belkin:service:basicevent:1\"></u:GetBinaryState>                 </s:Body>               </s:Envelope>","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":520,"wires":[["a064d18b.be05e8"]]},{"id":"6b03528e.f375cc","type":"http request","z":"7b67dd73.d862f4","name":"HTTP POST","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":520,"wires":[["754fa07d.eeed1"]]},{"id":"147b1c44.e2ede4","type":"debug","z":"7b67dd73.d862f4","name":"","active":true,"console":"false","complete":"payload","x":1050,"y":520,"wires":[]},{"id":"754fa07d.eeed1","type":"function","z":"7b67dd73.d862f4","name":"GetBinaryState","func":"\nvar a = msg.payload.match(\"<BinaryState>(.*)</BinaryState>\");\n\nmsg.payload =  parseInt(a[1]);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":520,"wires":[["147b1c44.e2ede4"]]},{"id":"a42456ed.2c71f","type":"comment","z":"7b67dd73.d862f4","name":"*** à faire *** ","info":"1- décoder les ip:port et les mettre dans une global variable\n\n2- mettre la variable globale dans les Get et Set Binary State","x":110,"y":40,"wires":[]},{"id":"9860f3e7.115e58","type":"inject","z":"7b67dd73.d862f4","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":340,"wires":[["947e8a15.568218"]]},{"id":"28896186.3758a6","type":"http request","z":"7b67dd73.d862f4","name":"HTTP POST","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":340,"wires":[["6d6d9bb9.cbe26c"]]},{"id":"5db76e92.ed554","type":"debug","z":"7b67dd73.d862f4","name":"","active":true,"console":"false","complete":"payload","x":1050,"y":340,"wires":[]},{"id":"947e8a15.568218","type":"function","z":"7b67dd73.d862f4","name":"msg headers - SetState","func":"var setState = msg.payload;\n\nvar xmlmsg = '<?xml version=\\\"1.0\\\" encoding=\\\"utf-8\\\"?>\\r\\n' +\n             ' <s:Envelope xmlns:s=\\\"http://schemas.xmlsoap.org/soap/envelope/\\\" s:encodingStyle=\\\"http://schemas.xmlsoap.org/soap/encoding/\\\">\\r\\n' +\n             '  <s:Body>\\r\\n' +\n             '   <u:SetBinaryState xmlns:u=\\\"urn:Belkin:service:basicevent:1\\\"><BinaryState>'+setState+'</BinaryState></u:SetBinaryState>\\r\\n' +\n             '  </s:Body>\\r\\n' +\n             ' </s:Envelope>\\r\\n';\n\nmsg.payload = xmlmsg;\n\nvar len = msg.payload.length;\n\nmsg.url = \"http://192.168.0.103:49153/upnp/control/basicevent1\";\n\nmsg.headers = {'Content-Type': 'text/xml; charset=utf-8', \"Content-length\": len, \"SOAPAction\": '\"urn:Belkin:service:basicevent:1#SetBinaryState\"', 'Accept': '' };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["28896186.3758a6"]]},{"id":"c70a5aab.d048c8","type":"inject","z":"7b67dd73.d862f4","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["947e8a15.568218"]]},{"id":"6d6d9bb9.cbe26c","type":"function","z":"7b67dd73.d862f4","name":"GetBinaryState","func":"\nvar a = msg.payload.match(\"<BinaryState>(.*)</BinaryState>\");\n\nmsg.payload =  parseInt(a[1]);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":340,"wires":[["5db76e92.ed554"]]},{"id":"fa6a658.e1b2a98","type":"comment","z":"7b67dd73.d862f4","name":"faire un copier/coller de tout ce bloc pour le Salon","info":"","x":580,"y":260,"wires":[]},{"id":"27502a0a.5c0726","type":"link in","z":"7b67dd73.d862f4","name":"","links":["3c1aacc.ef4d754","5c4ba52d.8e960c"],"x":135,"y":420,"wires":[["947e8a15.568218"]]},{"id":"e34f5dc5.5a18f","type":"comment","z":"7b67dd73.d862f4","name":"on pourrait utiliser un switch avec regex ici...","info":"","x":520,"y":200,"wires":[]}]
