tests/Domotik/YUN.json
 [{"id":"86f2412f.3cde78","type":"inject","z":"a59732e3.cf6de","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":40,"wires":[["790f405.26ee5c","3c1aacc.ef4d754"]]},{"id":"f7c77994.82914","type":"inject","z":"a59732e3.cf6de","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["790f405.26ee5c","3c1aacc.ef4d754"]]},{"id":"790f405.26ee5c","type":"debug","z":"a59732e3.cf6de","name":"","active":true,"console":"false","complete":"false","x":330,"y":40,"wires":[]},{"id":"3c1aacc.ef4d754","type":"link out","z":"a59732e3.cf6de","name":"","links":["1eec5aa4.4e1fdd","27502a0a.5c0726"],"x":275,"y":80,"wires":[]},{"id":"9e08392c.ca13a8","type":"inject","z":"a59732e3.cf6de","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["5ae3e9bb.62ed6"]]},{"id":"5ae3e9bb.62ed6","type":"function","z":"a59732e3.cf6de","name":"msg.url output #6","func":"\nmsg.url = \"http://192.168.0.110/arduino/digitaloutput/6/\"+ msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["287cc80c.4b4908"]]},{"id":"37be28c2.c82558","type":"inject","z":"a59732e3.cf6de","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["5ae3e9bb.62ed6"]]},{"id":"287cc80c.4b4908","type":"http request","z":"a59732e3.cf6de","name":"HTTP GET","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":220,"wires":[["c3406b8b.665d"]]},{"id":"c3406b8b.665d","type":"debug","z":"a59732e3.cf6de","name":"","active":true,"console":"false","complete":"false","x":730,"y":220,"wires":[]},{"id":"24ec2fa8.e4caf","type":"comment","z":"a59732e3.cf6de","name":"pour controler les sorties du YUN cabanon","info":"","x":200,"y":160,"wires":[]},{"id":"3e308c4c.42a73c","type":"inject","z":"a59732e3.cf6de","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":560,"wires":[["320ed80b.c0b278"]]},{"id":"320ed80b.c0b278","type":"function","z":"a59732e3.cf6de","name":"msg.url LED4 armoire haut gauche","func":"\nmsg.url = \"http://192.168.0.91/led4?params=\"+ msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":580,"wires":[["a25f99f9.370028"]]},{"id":"dd23b0e5.e4b578","type":"inject","z":"a59732e3.cf6de","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":600,"wires":[["320ed80b.c0b278"]]},{"id":"a25f99f9.370028","type":"http request","z":"a59732e3.cf6de","name":"HTTP GET","method":"GET","ret":"txt","url":"","tls":"","x":650,"y":580,"wires":[["50dafa29.8dba24"]]},{"id":"50dafa29.8dba24","type":"debug","z":"a59732e3.cf6de","name":"","active":true,"console":"false","complete":"false","x":850,"y":580,"wires":[]},{"id":"b5d30796.29895","type":"comment","z":"a59732e3.cf6de","name":"pour controler les LEDS armoires","info":"","x":170,"y":520,"wires":[]},{"id":"aa801a52.9fcff","type":"inject","z":"a59732e3.cf6de","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":360,"wires":[["5e39bf67.68dc88"]]},{"id":"5e39bf67.68dc88","type":"function","z":"a59732e3.cf6de","name":"msg.url data/get","func":"\nmsg.url = \"http://192.168.0.110/data/get\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["1f2ca540.bc21f3"]]},{"id":"1f2ca540.bc21f3","type":"http request","z":"a59732e3.cf6de","name":"HTTP GET","method":"GET","ret":"txt","url":"","tls":"","x":510,"y":360,"wires":[["127d8a05.7d8666","58c590f3.07d228","ee2310a.1f890f"]]},{"id":"127d8a05.7d8666","type":"debug","z":"a59732e3.cf6de","name":"","active":true,"console":"false","complete":"false","x":710,"y":360,"wires":[]},{"id":"92c15bd1.3cf48","type":"comment","z":"a59732e3.cf6de","name":"pour aller les états du arduino YUN \"POLL\" minutes","info":"","x":230,"y":320,"wires":[]},{"id":"58c590f3.07d228","type":"function","z":"a59732e3.cf6de","name":"AI1","func":"\nvar mess = JSON.parse(msg.payload);\n\nmsg.payload = mess.value.AI1;\n\nglobal.set(\"T_EXT\", mess.value.AI1 );\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["33a02d30.75b7a2"]]},{"id":"33a02d30.75b7a2","type":"debug","z":"a59732e3.cf6de","name":"","active":true,"console":"false","complete":"false","x":870,"y":400,"wires":[]},{"id":"ee2310a.1f890f","type":"function","z":"a59732e3.cf6de","name":"AI2","func":"\nvar mess = JSON.parse(msg.payload);\n\nmsg.payload = mess.value.AI2;\n\nglobal.set(\"T_PISCINE\", mess.value.AI2);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":440,"wires":[["dc8eefa4.418e5"]]},{"id":"dc8eefa4.418e5","type":"debug","z":"a59732e3.cf6de","name":"","active":true,"console":"false","complete":"false","x":870,"y":440,"wires":[]},{"id":"39c78b7.105ee74","type":"comment","z":"a59732e3.cf6de","name":"faire des onglets pour les YUN/leds/wemo","info":"","x":820,"y":40,"wires":[]},{"id":"697f45ec.3ca72c","type":"comment","z":"a59732e3.cf6de","name":"faire un et/ou des onglet \"AUTOMATION\" ","info":"","x":820,"y":80,"wires":[]}]
