various flows/IOBoard/flow-1/IOBoard_2.json
[{"id":"214c8a8e.397f46","type":"readIP","z":"f489dae7.590298","name":"CP2","address":"0x13","number":"2","scan":"1","x":100,"y":900,"wires":[["7b0f476.8de1db8"],["921457bc.fabb48"],["8b78ff0.cecf"],["de35214c.a7bae"],["6c1eaead.7f3ff"],["f9b300d7.9779"],["e02fbda9.60005"],["bfeeb4da.a073a8"]]},{"id":"7b0f476.8de1db8","type":"function","z":"f489dae7.590298","name":"global B2_IP1","func":"global.set(\"B2_IP1\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":660,"wires":[["b9909ce.613d76"]]},{"id":"b9909ce.613d76","type":"scalerange","z":"f489dae7.590298","name":"0-100% Photocell","volts":"[5.00,4.83,4.66,4.49,4.32,4.15,3.98,3.81,3.64,3.47,3.30,3.13,2.96,2.79,2.62,2.45,2.28,2.11,1.94,1.77,1.60,1.43,1.26,1.09,0.92,0.75,0.58,0.41,0.24,0.07]","values":"[0.00,3.46,6.92,10.38,13.84,17.30,20.76,24.22,27.68,31.14,34.60,38.06,41.52,44.98,48.44,51.90,55.36,58.82,62.28,65.74,69.20,72.66,76.12,79.58,83.04,86.50,89.96,93.42,96.88,100.34]","x":610,"y":660,"wires":[["825c2101.b798a"]]},{"id":"825c2101.b798a","type":"function","z":"f489dae7.590298","name":"Photocell","func":"var arrondi = Math.round(msg.payload * 100) / 100;\n\nglobal.set(\"Photocell\", arrondi);","outputs":1,"noerr":0,"x":820,"y":660,"wires":[[]]},{"id":"921457bc.fabb48","type":"function","z":"f489dae7.590298","name":"global B2_IP2","func":"global.set(\"B2_IP2\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":700,"wires":[[]]},{"id":"8b78ff0.cecf","type":"function","z":"f489dae7.590298","name":"global B2_IP3","func":"global.set(\"B2_IP3\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":740,"wires":[[]]},{"id":"de35214c.a7bae","type":"function","z":"f489dae7.590298","name":"global B2_IP4","func":"global.set(\"B2_IP4\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":780,"wires":[[]]},{"id":"6c1eaead.7f3ff","type":"function","z":"f489dae7.590298","name":"global B2_IP5","func":"global.set(\"B2_IP5\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":820,"wires":[[]]},{"id":"f9b300d7.9779","type":"function","z":"f489dae7.590298","name":"global B2_IP6","func":"global.set(\"B2_IP6\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":860,"wires":[[]]},{"id":"e02fbda9.60005","type":"function","z":"f489dae7.590298","name":"global B2_IP7","func":"global.set(\"B2_IP7\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":900,"wires":[[]]},{"id":"bfeeb4da.a073a8","type":"function","z":"f489dae7.590298","name":"global B2_IP8","func":"global.set(\"B2_IP8\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":940,"wires":[["d8119f19.6deef"]]},{"id":"b43b2be2.869f28","type":"comment","z":"f489dae7.590298","name":"IO Board #2","info":"","x":110,"y":660,"wires":[]},{"id":"de90e3f1.0265a","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT1","address":"0x13","number":"2","output":"1","x":350,"y":1000,"wires":[[]]},{"id":"ed7cac8.b61015","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT2","address":"0x13","number":"2","output":"2","x":410,"y":1040,"wires":[[]]},{"id":"b17f9af9.7bb138","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT3","address":"0x13","number":"2","output":"3","x":470,"y":1080,"wires":[[]]},{"id":"c26408b3.519b78","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT4","address":"0x13","number":"2","output":"4","x":530,"y":1120,"wires":[[]]},{"id":"9a7dbbed.3a5cf8","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT5","address":"0x13","number":"2","output":"5","x":730,"y":1000,"wires":[[]]},{"id":"e7caa06b.02608","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT6","address":"0x13","number":"2","output":"6","x":790,"y":1040,"wires":[[]]},{"id":"13ac5097.2b37cf","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT7","address":"0x13","number":"2","output":"7","x":850,"y":1080,"wires":[[]]},{"id":"1f856a21.063606","type":"writeOP","z":"f489dae7.590298","name":"CP2_OUT8","address":"0x13","number":"2","output":"8","x":910,"y":1120,"wires":[[]]},{"id":"b9a9c29b.3f0d5","type":"link in","z":"f489dae7.590298","name":"B2_OP1","links":["4ee1805e.ea296","2ef73471.a8827c","e8a627f8.e57088","4882cb77.970474","160a8a1c.e1ccd6"],"x":235,"y":1000,"wires":[["de90e3f1.0265a"]]},{"id":"162194ff.20be0b","type":"link in","z":"f489dae7.590298","name":"B2_OP2","links":["5ede2055.78a6c","31a4362c.5bbd1a","495f20b4.52c0f"],"x":275,"y":1040,"wires":[["ed7cac8.b61015"]]},{"id":"d0bcace1.4837f","type":"link in","z":"f489dae7.590298","name":"B2_OP3","links":["d665d96e.5ce298","a85acb46.8a76a8","779fb1b6.45f1e"],"x":335,"y":1080,"wires":[["b17f9af9.7bb138"]]},{"id":"9595c589.4f9528","type":"link in","z":"f489dae7.590298","name":"B2_OP4","links":["281951a.f7039ae","40506b68.7b4314","7ad0835.a7dc77c"],"x":395,"y":1120,"wires":[["c26408b3.519b78"]]},{"id":"2a55c8b1.943d38","type":"link in","z":"f489dae7.590298","name":"B2_OP5","links":["4f610bb8.00f484","66472e.c4c668d4","9d43de23.52edb"],"x":615,"y":1000,"wires":[["9a7dbbed.3a5cf8"]]},{"id":"f0835ab0.6aa478","type":"link in","z":"f489dae7.590298","name":"B2_OP6","links":["d77f28a.42171d8","dd950dc2.ba528","1a3a4f02.79b6e1"],"x":655,"y":1040,"wires":[["e7caa06b.02608"]]},{"id":"1fd31490.a638eb","type":"link in","z":"f489dae7.590298","name":"B2_OP7","links":["48fff0fb.acd3b","e169aa0f.f20298","a438ed47.04394"],"x":715,"y":1080,"wires":[["13ac5097.2b37cf"]]},{"id":"1d15b7a7.772248","type":"link in","z":"f489dae7.590298","name":"B2_OP8","links":["1f894619.89079a","13909563.801a0b","8a0fedf4.f8a43","1c576e79.2bb8c2"],"x":775,"y":1120,"wires":[["1f856a21.063606"]]},{"id":"d8119f19.6deef","type":"scalerange","z":"f489dae7.590298","name":"On_Off","volts":"[3,2]","values":"[0,1]","x":580,"y":940,"wires":[["9ac02d45.3dae9"]]},{"id":"9ac02d45.3dae9","type":"function","z":"f489dae7.590298","name":"Contact_Relais","func":"\nglobal.set(\"contact_relais\", msg.payload);\n\n//Fin","outputs":1,"noerr":0,"x":780,"y":940,"wires":[[]]}]
